@import "tailwindcss";

:root {
  --backgroundColor: #ffffff;
  --foregroundColor: #171717;
}

@theme {
  --color-backgroundColor: var(--backgroundColor);
  --color-foregroundColor: var(--foregroundColor);

  --color-foregroundColor-5: color-mix(in srgb, var(--color-foregroundColor) 5%, transparent);
  --color-foregroundColor-10: color-mix(in srgb, var(--color-foregroundColor) 10%, transparent);
  --color-foregroundColor-15: color-mix(in srgb, var(--color-foregroundColor) 15%, transparent);
  --color-foregroundColor-20: color-mix(in srgb, var(--color-foregroundColor) 20%, transparent);
  --color-foregroundColor-25: color-mix(in srgb, var(--color-foregroundColor) 25%, transparent);
  --color-foregroundColor-30: color-mix(in srgb, var(--color-foregroundColor) 30%, transparent);
  --color-foregroundColor-35: color-mix(in srgb, var(--color-foregroundColor) 35%, transparent);
  --color-foregroundColor-40: color-mix(in srgb, var(--color-foregroundColor) 40%, transparent);
  --color-foregroundColor-45: color-mix(in srgb, var(--color-foregroundColor) 45%, transparent);
  --color-foregroundColor-50: color-mix(in srgb, var(--color-foregroundColor) 50%, transparent);
  --color-foregroundColor-55: color-mix(in srgb, var(--color-foregroundColor) 55%, transparent);
  --color-foregroundColor-60: color-mix(in srgb, var(--color-foregroundColor) 60%, transparent);
  --color-foregroundColor-65: color-mix(in srgb, var(--color-foregroundColor) 65%, transparent);
  --color-foregroundColor-70: color-mix(in srgb, var(--color-foregroundColor) 70%, transparent);
  --color-foregroundColor-75: color-mix(in srgb, var(--color-foregroundColor) 75%, transparent);
  --color-foregroundColor-80: color-mix(in srgb, var(--color-foregroundColor) 80%, transparent);
  --color-foregroundColor-85: color-mix(in srgb, var(--color-foregroundColor) 85%, transparent);
  --color-foregroundColor-90: color-mix(in srgb, var(--color-foregroundColor) 90%, transparent);
  --color-foregroundColor-95: color-mix(in srgb, var(--color-foregroundColor) 95%, transparent);
  --color-foregroundColor-100: color-mix(in srgb, var(--color-foregroundColor) 100%, transparent);
}

body {
  background: var(--color-backgroundColor);
  color: var(--color-foregroundColor);
}

button {
  background-color: var(--color-foregroundColor);
  color: var(--color-backgroundColor);
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 0.5rem;
}

button:hover {
  background-color: var(--color-foregroundColor);
  color: var(--color-backgroundColor);
  opacity: 0.8;
}

button:disabled {
  background-color: var(--color-foregroundColor-50);
  color: var(--color-backgroundColor);
  cursor: not-allowed;
}

h1 {
  color: var(--color-foregroundColor);
  font-size: 2rem;
  font-weight: bolder;
}

h2 {
  color: var(--color-foregroundColor);
  font-size: 1.5rem;
  font-weight: bold;
}

h3 {
  color: var(--color-foregroundColor-50);
  font-size: 1rem;
  font-weight: bold;
}
